html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    
}

/*-------------------------------Navbar section-----------------------------------*/
.narbar-section{
    background-color: white;
}
nav .brand-logo {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    width: 14%;
    text-align: center;
    margin-top: 1%;
}
.narbar-section h6{
   color:  #0ac87f;
   font-weight: bold;
   font-size: -2em;
}
.narbar-section h5{
    color: rgb(85, 84, 84);
    font-size: 1em;

}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    width: 63%;
    margin-top: 1%;
}
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color:  #0ac87f !important;
    display: block;
    padding: 0px 15px;
    cursor: pointer;
    /* margin-top: -26%; */
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size:30px;
    height: 56px;
    line-height: 56px;
}
.dropdow-icone {
    margin-top: -59% !important;
    margin-right: -44%;
}
li{
    margin-left: 5%;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 33px;
    height: 53px;
    line-height: 58px;
}
nav ul a:hover {
    background-color:transparent;
}
nav ul h5:hover {
    color: #4ac980;
    transition: 0.4s all;
    font-weight: bold;
}
.row .col.s12 {
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0;
}
.bar-recherche{
    border: solid black 1px;
    height: 50%;
    margin-top: -21%;
}
.slider-container{
    height:  85%;
}
.slider{
    height: 100%;
    overflow: hidden;
}
.block-hover{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}

.img{
    height: 100%;
    background: url("./../images/lost-co-668055-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0% 0;
    color: #fff;

}
.img0{
    height: 100%;
    background: url("./../images/lost-co-668055-unsplash.jpg");
    background-size: cover;
/*     background-repeat: no-repeat;
 */    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.img1{
    height: 100%;
    background: url("./../images/chris-adamus-30862-unsplash.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.img2{
    height: 100%;
    background: url("./../images/eleven-x-648954-unsplash.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.slick-list, .slick-track{
    height: 100%;
}
.slider img{
    padding: 0 !important;
}
.slider h1{
    color: #0ac87f;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    margin-top:0px;
    padding: 10% 5% 0%;
    line-height: 1.8em;
}
.welcome h1{
    font-weight: bold;
    color: rgb(30, 31, 30);
    text-align: center;
    font-size: 1.8em;
    background-image: url("./../images/quote-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3% 5% 0;
    background-position: left;
}
.section-phone{
    height: 30%;
    border-top:solid #e6dcdc 1px;
    margin: 0%;
}
h3{
    color:  #0ac87f;
    font-size: 1.2em;
    margin-right: 10%;
    float: left;
    margin-left: 2%;
    font-weight: bold;

}

.block-hover .btn-pers {
    margin-top: 4%;
    padding: 10px 41px;
    border-radius: 22px;
    background-color: #02905a;
    color: #fbf8f8;
    font-size: 97%;
}
.button .btn-pers{
    float: right;
    font-weight: bold;
    color: red;
}
.button{
    margin:4% 0% 0% 0%;

}
.section-phone{
    padding: 10px 30px !important;
}
.button h3, .button a{
    margin: 0px !important;
}
.section-presentation-phone{
    height:auto;
    border: solid #e0d8d8 1px;
    padding: 1% 1% !important; 
}
.section-presentation-phone p {
    color: blue;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    font-size: 1.1em;
}
.image {
    height: 341px;
    background-image: url("./../images/Free-Sample-Ultra-Thin-Transparent-TPU-back.jpg_300x300.jpg");
    background-size: cover;
    margin-left: -4% !important;
    width: 108% !important;
}
.part-description{
    height:auto;
    border:none;
}
.part-description p{
    border-bottom: solid #d2d2d2 1px;
    color: #585555;
    font-size: 21px;
    height: -1%;
    text-transform: uppercase;
    font-weight: bold;
    width: 54%;
    text-align: inherit;
    margin-top: 2%;
    letter-spacing: 1px;
}
.tarif{
    padding: 5px !important;

}
.icon-like{
    height: 21px;
    /* border: solid black 1px; */
    margin-left: 5%;
    background-image: url("./../images/like.svg");
    background-size: cover;
    margin-top: -4%;
    width: 7%;
    float: left;
}
.icons-like h5{
    margin-left: 2%;
    color: #585555;
    font-size: 10px;
    float: left;
    margin-top: -2%;
}
.icon-like1{
    height: 21px;
    /* border: solid black 1px; */
    margin-left: 27%;
    background-image: url("./../images/like (1).svg");
    background-size: cover;
    margin-top: -5%;
    width: 7%;
}
.forme{
    margin-top: -6% !important;
    margin-left: 15% !important;
}
.icons-like h4 {
    color: #585555;
    font-size: 0.8em;
    width: 52%;
    margin-top: 5%;
    margin-left: 5%;
    /* padding: 0px !important; */
}
.icons-like .btn-pers {
    margin-top: 1%;
    padding: 6px 25px;
    border-radius: 22px;
    background-color: #02905a;
    color: #fbf8f8;
    font-size: 97%;
    margin-left: 70%;
    margin-top: -27%;
}
.image1 {
    height: 341px;
    background-image: url("./../images/2018-NEW-product-Huawei-Mate-20-Pro.jpg_300x300.jpg");
    background-size: cover;
    margin-left: -4% !important;
    width: 108% !important;
}
.image2 {
    height: 341px;
    background-image: url("./../images/High-quality-Huawei-P20-Pro-CLT-AL01.jpg_300x300.jpg");
    background-size: cover;
    margin-left: -4% !important;
    width: 108% !important;
}
.image3 {
    height: 341px;
    background-image: url("./../images/Apple-iPhone-X-64GB-256GB-4G-Factory.jpg_300x300.jpg");
    background-size: cover;
    margin-left: -4% !important;
    width: 108% !important;
}

/* -----------------partie de présentation de tablette----------------------*/
.section-presentation-tablettes{
    border: solid #e0d8d8 1px;
    height: 636px !important;
}
.section-presentation-tablettes h4 {
    font-size: 1.2em;
    line-height: 1.8em;
    text-align: justify;
    width: 85%;
    margin-top: 24%;
    margin-left: 8%;
}
.image4 {
    height: 397px;
    background-image: url("./../images/eleven-x-648954-unsplash.jpg");
    background-size: cover;
    margin-left: 6% !important;
    width: 88% !important;
}
.part-description-tablette{
    height:80px;
    border:none;
}
.part-description-tablette p{
    border-bottom: solid #9a9494 1px;
    color: #585555;
    font-size: 22px;
    height: -1%;
    width: 54%;
    text-align: inherit;
    margin-top: 2%;
    letter-spacing: 1px;
    margin-left: 5%;
}
.section-presentation-tablettes p{
    /* font-weight: bold; */
    color: blue;
    font-size: 1.2em;
}

.icon-likes{
    height: 19px;
    /* border: solid black 1px; */
    margin-left: 5%;
    background-image: url("./../images/like.svg");
    background-size: cover;
    margin-top: -2%;
    width: 3%;
    float: left;
}
.icons-like-tablette h5{
    margin-left: 1%;
    color: #585555;
    font-size: 10px;
    float: left;
    margin-top: -1%;
}
.icon-likes1{
    height: 19px;
    /* border: solid black 1px; */
    margin-left: 15%;
    background-image: url("./../images/like (1).svg");
    background-size: cover;
    margin-top: -2%;
    width: 3%;
}
.formes{
    margin-top: -3% !important;
    margin-left: 7% !important;
}
.icons-like-tablette h4 {
    color: #585555;
    font-size: 15px;
    width: 69%;
    margin-top: 4%;
    margin-left: 4%;
    text-align: justify;
}
.section-presentation-tablettes .btn-pers {
    padding: 6px 20px;
    border-radius: 22px;
    background-color: #2a0cc5;
    color: #fbf8f8;
    font-size: 97%;
    margin-left: 79%;
    margin-top: 9%;
}
.images1 {
    height: 341px;
    background-image: url("./../images/Cheap-china-Octacore-processor-kids-android-tablet.jpg_200x200.jpg");
    background-size: cover;
    margin-left: -4% !important;
    width: 108% !important;
}
.images2 {
    height: 341px;
    background-image: url("./../images/G19-10-inch-android-tablet-pc-octa.jpg_200x200.jpg");
    background-size: cover;
    margin-left: -4% !important;
    width: 108% !important;
}
.images3 {
    height: 341px;
    background-image: url("./../images/MaPan-7-9-10-Inch-Stock-State.jpg_300x300.jpg");
    background-size: cover;
    margin-left: -4% !important;
    width: 108% !important;
}
.images4{
    height: 341px;
    background-image: url("./../images/High-quality-MTK6580-Tablet-pc-Android-7.jpg_300x300.jpg");
    background-size: cover;
    margin-left: -4% !important;
    width: 108% !important;
}

/*---------------section glasses et pochettes---------------------*/

.section-accesssoires{
    height: 220px;
    border: solid rgb(236, 229, 229) 1px;
}
.section-accesssoires p{
    color: blue;
    margin-left: 5%;
    margin-top: 7%;
    text-align: center;
    font-size: 0.9em;
}
.image8 {
    height: 111px;
    background-image: url("./../images/90-Degree-angled-3ft-nylon-braided-durable.jpg_350x350.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.part-description-tablette{
    height:80px;
    border:none;
}
.part-description-tablette p{
    border-bottom: solid #9a9494 1px;
    color: #585555;
    font-size: 21px;
    height: -1%;
    width: 54%;
    text-align: inherit;
    margin-top: 2%;
    letter-spacing: 1px;
}
.icon-like-accessoires{
    height: 8px;
    /* border: solid black 1px; */
    margin-left: 5%;
    background-image: url("./../images/like.svg");
    background-size: cover;
    margin-top: -4%;
    width: 4%;
    float: left;
}
.icons-like-accessoires h5{
    margin-left: 1%;
    color: #585555;
    font-size: 7px;
    float: left;
    margin-top: -3%;
}
.icon-like3{
    height: 10px;
    /* border: solid black 1px; */
    margin-left: 24%;
    background-image: url("./../images/like (1).svg");
    background-size: cover;
    margin-top: -5%;
    width: 5%;
}
.formes-accessoires{
    margin-top: -3% !important;
    margin-left: 7% !important;
}
.icons-like-accessoires h4 {
    color: #585555;
    font-size: 7px;
    width: 40%;
    margin-top: 4%;
    margin-left: 4%;
    text-align: justify;
}
.icons-like-accessoires .btn-pers {
    padding: 2px 8px;
    border-radius: 22px;
    background-color: #2a0cc5;
    color: #fbf8f8;
    font-size: 91%;
    margin-left: 73%;
    margin-top: -41%;
}
.part-description-accessoires p{
    border-bottom: solid #9a9494 1px;
    color: #585555;
    font-size: 13px;
    height: -1%;
    width: 40% !important;
    text-align: inherit;
    margin-top: -1%;
    letter-spacing: 1px;
}
.image9 {
    height: 111px;
    background-image: url("./../images/Portable-hand-sensor-control-foldable-rc-mini.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image10 {
    height: 111px;
    background-image: url("./../images/i7-TWS-twins-wireless-bluetooth-earphone.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image11 {
    height: 111px;
    background-image: url("./../images/HTB1Cx0qKhSYBuNjSsph762GvVXaE.png");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image12 {
    height: 111px;
    background-image: url("./../images/Factory-Wholesale-Vendors-100-Remy-Natural-Double.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image13 {
    height: 111px;
    background-image: url("./../images/High-quality-integrated-aluminum-outdoor-Waterproof-IP65.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image14 {
    height: 111px;
    background-image: url("./../images/City-use-4-wheel-new-solar-electric.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image15 {
    height: 111px;
    background-image: url("./../images/Smart-television-32-inch-LED-Potable-TV.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image16 {
    height: 111px;
    background-image: url("./../images/Smart-television-32-inch-LED-Potable-TV.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}.image17 {
    height: 111px;
    background-image: url("./../images/Portable-hand-sensor-control-foldable-rc-mini.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image18 {
    height: 111px;
    background-image: url("./../images/HTB1bShiXLvsK1Rjy0Fi762wtXXaI.png");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image19 {
    height: 111px;
    background-image: url("./../images/High-quality-integrated-aluminum-outdoor-Waterproof-IP65.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image20 {
    height: 111px;
    background-image: url("./../images/Free-Shipping-Car-Mount-Mobile-Phone-Bracket.jpg_350x350.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
/*----------------------fin section footer de notre page-----------------------*/
.end{
    height: 308px;
    border-top: solid #e1e1e1 1px;
    margin-top: 5%;
}
.end h1{
    color:  #0ac87f;
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    font-weight: bold
}
.end h6{
    color: #585555;
    font-size: 1em;
    text-align: center;
}
.end .btn-pers {
    padding: 9px 40px;
    border-radius: 22px;
    background-color: #2a0cc5;
    color: #fbf8f8;
    font-size: 133%;
    margin-left: 39%;
    margin-top: 4%;
}
.information{
    height: 624px;
    background-color: #061b30;
    margin-top: -1%;
}
.information h4{
    font-size: 23px;
    color: #0ac87f;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-top: 30%;
}
.information h5{
    font-size: 15px;
    color: #888080;
    text-align: center;
    margin-top: 10%;
}


