html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    
}
/*-------------------------------Navbar section-----------------------------------*/
.narbar-section{
    background-color: white;
}
nav .brand-logo {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    width: 14%;
    text-align: center;
    margin-top: 1%;
}
.narbar-section h6{
   color:  #0ac87f;
   font-weight: bold;
   font-size: -2em;
}
.narbar-section h5{
    color: rgb(85, 84, 84);
    font-size: 1em;

}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    width: 63%;
    margin-top: 1%;
}
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color:  #0ac87f !important;
    display: block;
    padding: 0px 15px;
    cursor: pointer;
    /* margin-top: -26%; */
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size:30px;
    height: 56px;
    line-height: 56px;
}
.dropdow-icone {
    margin-top: -59% !important;
    margin-right: -44%;
}
li{
    margin-left: 5%;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 33px;
    height: 53px;
    line-height: 58px;
}
nav ul a:hover {
    background-color:transparent;
}
nav ul h5:hover {
    color: #4ac980;
    transition: 0.4s all;
    font-weight: bold;
}
.row .col.s12 {
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0;
}
.bar-recherche{
    border: solid black 1px;
    height: 50%;
    margin-top: -21%;
}
.slider-container{
    height:  85%;
}
.slider{
    height: 100%;
    overflow: hidden;
}
.block-hover{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}

.img{
    height: 100%;
    background: url("./../images/lost-co-668055-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0% 0;
    color: #fff;

}
.img0{
    height: 100%;
    background: url("./../images/lost-co-668055-unsplash.jpg");
    background-size: cover;
/*     background-repeat: no-repeat;
 */    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.img1{
    height: 100%;
    background: url("./../images/chris-adamus-30862-unsplash.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.img2{
    height: 100%;
    background: url("./../images/eleven-x-648954-unsplash.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.slick-list, .slick-track{
    height: 100%;
}
.slider img{
    padding: 0 !important;
}
.slider h1{
    color: #0ac87f;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    margin-top:0px;
    padding: 10% 5% 0%;
    line-height: 1.8em;
}
.welcome h1{
    font-weight: bold;
    color: rgb(30, 31, 30);
    text-align: center;
    font-size: 1.8em;
    background-image: url("./../images/quote-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3% 5% 0;
    background-position: left;
}
.section-phone{
    height: 30%;
    border-top:solid #e6dcdc 1px;
    margin: 0%;
}
h3{
    color:  #0ac87f;
    font-size: 1.2em;
    margin-right: 10%;
    float: left;
    margin-left: 2%;
    font-weight: bold;

}

.block-hover .btn-pers {
    margin-top: 4%;
    padding: 10px 41px;
    border-radius: 22px;
    background-color: #02905a;
    color: #fbf8f8;
    font-size: 97%;
}
/*----------corps de notre devoir------------*/

.welcome h4{
    color: #02905a;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding-top: 15%;

}
.name-tecno{
    height: 30%;
    border-top:solid #e6dcdc 1px;
    margin: 0%;
}
.name-tecno h3{
    color:  #0ac87f;
    font-size: 1.2em;
    margin-right: 10%;
    float: left;
    margin-left: 2%;
    font-weight: bold;
}
/*-----------partie presentation accessoires----------------*/
.section-accesssoires{
    height:331px;
    border: solid rgb(236, 229, 229) 1px;
}
.section-accesssoires p{
    color: blue;
    margin-left: 5%;
    margin-top: 7%;
    text-align: center;
    font-size: 0.9em;
}
.image8 {
    height: 111px;
    background-image: url("./../images/90-Degree-angled-3ft-nylon-braided-durable.jpg_350x350.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.part-description-tablette{
    height:80px;
    border:none;
}
.part-description-tablette p{
    border-bottom: solid #9a9494 1px;
    color: #585555;
    font-size: 21px;
    height: -1%;
    width: 54%;
    text-align: inherit;
    margin-top: 2%;
    letter-spacing: 1px;
}
.icon-like-accessoires{
    height: 8px;
    /* border: solid black 1px; */
    margin-left: 5%;
    background-image: url("./../images/like.svg");
    background-size: cover;
    margin-top: -4%;
    width: 4%;
    float: left;
}
.icons-like-accessoires h5{
    margin-left: 1%;
    color: #585555;
    font-size: 7px;
    float: left;
    margin-top: -3%;
}
.icon-like3{
    height: 10px;
    /* border: solid black 1px; */
    margin-left: 24%;
    background-image: url("./../images/like (1).svg");
    background-size: cover;
    margin-top: -5%;
    width: 5%;
}
.formes-accessoires{
    margin-top: -3% !important;
    margin-left: 7% !important;
}
.icons-like-accessoires h4 {
    color: #585555;
    font-size: 7px;
    width: 40%;
    margin-top: 4%;
    margin-left: 4%;
    text-align: justify;
}
.icons-like-accessoires .btn-pers {
    padding: 2px 8px;
    border-radius: 22px;
    background-color: #2a0cc5;
    color: #fbf8f8;
    font-size: 91%;
    margin-left: 73%;
    margin-top: -41%;
}
.part-description-accessoires p{
    border-bottom: solid #9a9494 1px;
    color: #585555;
    font-size: 13px;
    height: -1%;
    width: 40% !important;
    text-align: inherit;
    margin-top: -1%;
    letter-spacing: 1px;
}
.image14 {
    height: 111px;
    background-image: url("./../images/14inches-Ultra-Slim-Intel-Apollo-Lake-Laptop.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image15 {
    height: 111px;
    background-image: url("./../images/18-5-Inch-1920-1080-Hd-I7.jpg_200x200.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image16 {
    height: 111px;
    background-image: url("./../images/21-5-inch-All-In-One-Pc.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}.image17 {
    height: 111px;
    background-image: url("./../images/22-Inch-Cheap-All-In-One-PC.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image18 {
    height: 111px;
    background-image: url("./../images/Chinese-gold-supplier-new-design-top-quality.png_300x300.png");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image19 {
    height: 111px;
    background-image: url("./../images/High-quality-integrated-aluminum-outdoor-Waterproof-IP65.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image20 {
    height: 111px;
    background-image: url("./../images/Computers-Laptops-And-Desktops-Used-Anti-Spy.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image21{
    height: 111px;
    background-image: url("./../images/Curved-Laptops-And-Desktop-Bestseller-2018-Laptop.jpg_200x200.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image22{
    height: 111px;
    background-image: url("./../images/Factory-Cheap-Price-10-inch-Advertising-Display.jpg_200x200.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image23{
    height: 111px;
    background-image: url("./../images/Computers-Laptops-And-Desktops-Used-Anti-Spy.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image24{
    height: 111px;
    background-image: url("./../images/Made-in-china-factory-21-5-touch.jpg_200x200.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image25{
    height: 111px;
    background-image: url("./../images/manufacturer-for-desktop-computer-desktop-laptop-all.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image26{
    height: 111px;
    background-image: url("./../images/BT-4-2-OEM-stereo-sport-wireless.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image27{
    height: 111px;
    background-image: url("./../images/Cowin-New-ANC-model-E7-MD-Pro.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image28{
    height: 111px;
    background-image: url("./../images/Earphone-3-5mm-In-Ear-earphone-With.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image29{
    height: 111px;
    background-image: url("./../images/Free-Sample-Shenzhen-Stereo-PC-Gaming-Headphone.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image30{
    height: 111px;
    background-image: url("./../images/Hiqh-quality-USB-headset-noise-cancelling-headset.jpg_200x200.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image31{
    height: 111px;
    background-image: url("./../images/E7A-Active-Noise-Cancelling-Headphones-Wireless-Headphones.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image32{
    height: 111px;
    background-image: url("./../images/Hot-sale-OEM-ODM-wired-music-audifonos.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image33{
    height: 111px;
    background-image: url("./../images/iClever-Gaming-Headset-7-1-Surround-Sound.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image34{
    height: 111px;
    background-image: url("./../images/manufacturer-for-desktop-computer-desktop-laptop-all.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image35{
    height: 111px;
    background-image: url("./../images/iClever-Kids-Headphones-Headphones-for-Kids-85db.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image36{
    height: 111px;
    background-image: url("./../images/iClever-Kids-Headphones-Wired-Headphones-for-Kids.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image37{
    height: 111px;
    background-image: url("./../images/i7-TWS-twins-wireless-bluetooth-earphone.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image38{
    height: 111px;
    background-image: url("./../images/2-4g-wireless-mini-keyboard-with-touch.jpg_200x200.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image39{
    height: 111px;
    background-image: url("./../images/2018-hot-sale-Mechanical-wired-game-Keyboard.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image40{
    height: 111px;
    background-image: url("./../images/2018-Manufacturer-Direct-Selling-Laser-LED-Backlit.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image41{
    height: 111px;
    background-image: url("./../images/2018-Newest-Waterproof-Professional-Backlit-Multimedia-LED.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image42{
    height: 111px;
    background-image: url("./../images/Factory-wholesale-high-Quality-METOO-C160-2.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image43{
    height: 111px;
    background-image: url("./../images/Hot-sale-1600-DPI-Professional-Wired-Colorful.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image44{
    height: 111px;
    background-image: url("./../images/New-USB-Optical-Wireless-Mouse-2-4G.png_200x200.png");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image45{
    height: 111px;
    background-image: url("./../images/New-product-Original-Xiaomi-Mi-Portable-Mouse.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image46{
    height: 111px;
    background-image: url("./../images/most-popular-products-Wired-Mechanical-Macros-Define.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image47{
    height: 111px;
    background-image: url("./../images/HJ-1872004-ESD-Office-Supplies-ESD-Mouse.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.image48{
    height: 111px;
    background-image: url("./../images/High-Speed-8200dpi-USB-7d-Gaming-Mouse.png_300x300.png");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}.image49{
    height: 111px;
    background-image: url("./../images/High-quality-drop-shipping-Bluetooth-Wireless-Dual.jpg_300x300.jpg");
    background-size: cover;
    margin-left: 21% !important;
    width: 58% !important;
}
.dextop h3{
    color: #585555;
    font-size: 0.9em;

}
.section-accesssoires .btn-pers{
    padding: 5px 10px;
    border-radius: 100px;
    background-color: #2a0cc5;
    color: #fbf8f8;
    margin-left: 78%;
    margin-top: -10%;
    
}

/*----------------------fin section footer de notre page-----------------------*/
.end{
    height: 308px;
    border-top: solid #e1e1e1 1px;
    margin-top: 5%;
}
.end h1{
    color:  #0ac87f;
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    font-weight: bold
}
.end h6{
    color: #585555;
    font-size: 1em;
    text-align: center;
}
.end .btn-pers {
    padding: 9px 40px;
    border-radius: 22px;
    background-color: #2a0cc5;
    color: #fbf8f8;
    font-size: 133%;
    margin-left: 39%;
    margin-top: 4%;
}
.information{
    height: 624px;
    background-color: #061b30;
    margin-top: -1%;
}
.information h4{
    font-size: 23px;
    color: #0ac87f;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-top: 30%;
}
.information h5{
    font-size: 15px;
    color: #888080;
    text-align: center;
    margin-top: 10%;
}


