html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    
}

/*-------------------------------Navbar section-----------------------------------*/
.narbar-section{
    background-color: white;
}
nav .brand-logo {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    width: 14%;
    text-align: center;
    margin-top: 1%;
}
.narbar-section h6{
   color:  #0ac87f;
   font-weight: bold;
   font-size: -2em;
}
.narbar-section h5{
    color: rgb(85, 84, 84);
    font-size: 1em;

}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    width: 63%;
    margin-top: 1%;
}
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color:  #0ac87f !important;
    display: block;
    padding: 0px 15px;
    cursor: pointer;
    /* margin-top: -26%; */
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size:30px;
    height: 56px;
    line-height: 56px;
}
.dropdow-icone {
    margin-top: -59% !important;
    margin-right: -44%;
}
li{
    margin-left: 5%;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 33px;
    height: 53px;
    line-height: 58px;
}
nav ul a:hover {
    background-color:transparent;
}
nav ul h5:hover {
    color: #4ac980;
    transition: 0.4s all;
    font-weight: bold;
}
.row .col.s12 {
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0;
}
.bar-recherche{
    border: solid black 1px;
    height: 50%;
    margin-top: -21%;
}
.slider-container{
    height:  85%;
}
.slider{
    height: 100%;
    overflow: hidden;
}
.block-hover{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}

.img{
    height: 100%;
    background: url("./../images/lost-co-668055-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0% 0;
    color: #fff;

}
.img0{
    height: 100%;
    background: url("./../images/lost-co-668055-unsplash.jpg");
    background-size: cover;
/*     background-repeat: no-repeat;
 */    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.img1{
    height: 100%;
    background: url("./../images/chris-adamus-30862-unsplash.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.img2{
    height: 100%;
    background: url("./../images/eleven-x-648954-unsplash.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    padding: 0% 0;
    color: #fff;
    background-position: center;
}
.slick-list, .slick-track{
    height: 100%;
}
.slider img{
    padding: 0 !important;
}
.slider h1{
    color: #0ac87f;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    margin-top:0px;
    padding: 10% 5% 0%;
    line-height: 1.8em;
}
.welcome h1{
    font-weight: bold;
    color: rgb(30, 31, 30);
    text-align: center;
    font-size: 1.8em;
    background-image: url("./../images/quote-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3% 5% 0;
    background-position: left;
}
.section-phone{
    height: 30%;
    border-top:solid #e6dcdc 1px;
    margin: 0%;
}
h3{
    color:  #0ac87f;
    font-size: 1.2em;
    margin-right: 10%;
    float: left;
    margin-left: 2%;
    font-weight: bold;

}

.block-hover .btn-pers {
    margin-top: 4%;
    padding: 10px 41px;
    border-radius: 22px;
    background-color: #02905a;
    color: #fbf8f8;
    font-size: 97%;
}
/*----------------------EN-TETE DE NOTRE PAGE----------------------------*/

/*----------------------debut du body contact----------------------------*/
.section-contact{
    margin-top: 8%;
    
}
.part-text{
    height: 570px !important;
    height: auto;
}
.part-image{
    height: 570px !important;
    height: auto;
    margin-left: 10% !important;
    background-color: #02905a;
}
.part-text h6{
    text-transform: uppercase;
    font-weight: bold;
    color: #02905a;
    font-size: 0.7em;
    margin-top: 10%;
}
.part-text h1{
    color: #696767;
    font-size: 4em;
    font-weight: bold;
    margin-top: 0% !important;
    font-family: initial;
    font-family: raleway;
    text-transform: uppercase;
}

.spacing-top {
    margin-top: 10% !important;
}

.part-image h1{
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}
.part-image h6{
    color: rgb(220, 213, 213);
    font-size: 0.8em;
    text-align: center;
}
.part-text .btn-pers {
    margin-top: 1%;
    padding: 6px 20px;
    border-radius: 22px;
    background-color: #2a0cc5;
    color: #fbf8f8;
    font-size: 97%;
    margin-top: 10%;
}
.section-input{
    margin-top: 4%;
}
.section-input1{
    margin-top: 10%;
}


/*----------------------fin section footer de notre page-----------------------*/
.end{
    height: 308px;
    border-top: solid #e1e1e1 1px;
    margin-top: 5%;
}
.end h1{
    color:  #0ac87f;
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    font-weight: bold
}
.end h6{
    color: #585555;
    font-size: 1em;
    text-align: center;
}
.end .btn-pers {
    padding: 9px 40px;
    border-radius: 22px;
    background-color: #2a0cc5;
    color: #fbf8f8;
    font-size: 133%;
    margin-left: 39%;
    margin-top: 4%;
}
.information{
    height: 624px;
    background-color: #061b30;
    margin-top: -1%;
}
.information h4{
    font-size: 23px;
    color: #0ac87f;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-top: 30%;
}
.information h5{
    font-size: 15px;
    color: #888080;
    text-align: center;
    margin-top: 10%;
}



